@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "https://fonts.googleapis.com/css?family=Nunito:100,200,300,400,500,600,700";

body {
    font-family: "Poppins" !important;
}

h1,
h2,
h3 {
    font-family: "Nunito" !important;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

p.sub {
    margin-bottom: 2em;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* Dashboard */

table {
    width: 80%;
    border-collapse: collapse;
    padding: 15px;
    text-align: left;
}

tr:hover {
    background-color: #f37ccb44;
    color: white;
    font-weight: normal;
}

th {
    background-color: #e0139c;
    padding: 0.5em;
    color: white;
}

td {
    padding: 0.5em;
    border-bottom: 1px solid #eccfe3;
}

#content {
    min-width: 100%;
    max-width: 100%;
    min-height: 100vh;
    background: #0d0e0f;
    color: #e0139c;
    transition: all 0.3s;
    padding: 2em;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar.active {
    margin-left: -250px;
}

body {
    font-family: "Poppins", sans-serif;
    background: rgb(224, 19, 156);
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: rgb(224, 19, 156);
    text-decoration: none !important;
    transition: all 0.3s !important;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #393a41;
    color: rgb(224, 19, 156);
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #393a41;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: rgb(224, 19, 156);
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: rgb(236, 207, 227);
    background: rgb(224, 19, 156);
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #eccfe3;
    background: rgb(224, 19, 156);
}

#sidebar ul li.inactive > a,
a[aria-expanded="true"] {
    color: rgb(236, 207, 227);
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: rgb(224, 19, 156);
}

#logout {
    color: #eccfe3;
    background: #393a41;
}

/* Upload */

input {
    padding: 0.5em;
}

#description-input {
    color: red;
}

button {
    background-color: #e0139c !important;
    padding: 0.75em 1.75em !important;
    font-weight: bold !important;
    margin-top: 1.5em !important;
    margin-right: 1em !important;
}

/* Login und Register */

.card {
    background-color: #393a41 !important;
}

.back-button {
    background-color: #393a41 !important;
}

.back-button a {
    color: white !important;
}

.assets-grid {
    display: flex;
    max-width: 80%;
    flex-wrap: wrap;
}

/*
  .assets-grid iframe {
    overflow: hidden;
  } */

.assets-grid__item-wrapper {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 230px;
    margin: 15px;
    overflow: hidden;
}

.assets-grid__item-info {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #222222cc;
    color: #999;
    padding: 5px;
    font-size: 12px;
}

.assets-grid__item {
    width: 100%;
    height: auto;
    background-color: #171717;
}

.assets-grid__item-title {
    position: absolute;
    font-size: 12px;
    font-weight: 300;
    color: #bbb;
    width: 100%;
    text-align: center;
    margin-top: 7px;
    bottom: 5px;
}

.assets-list__item {
    opacity: 0.7;
    width: 25px;
    height: 25px;
    position: relative;
    display: inline-block;
}

.assets-list__interaction {
    opacity: 0.5;
    width: 20px;
    height: 20px;
    transition: 0.3s;
}

.assets-list__interaction:hover {
    opacity: 1;
}

.btn-assets-format {
    border: none;
    background-color: #ffffff00 !important;
    outline: none;
    padding: 0 !important;
    margin: 10px !important;
}

.btn-assets-format-icon {
    width: 30px;
    height: 30px;
}

.sidebar-header {
    color: #e0139c !important;
}

.btn-link {
    text-transform: uppercase;
    color: #ccc !important;
}
